html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

.addBug {
    background-color: #44b2e5;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.projectInfo > * {
    margin: 5px 0;
}

.featureInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.featureInfo > * {
    margin: 5px 0;
}

#addBugButton {
    height: 100%;
    border-radius: 10px;
}




.searchBugs {
    display: flex;
    justify-content: space-evenly;
    background-color: #90cc3d;
    padding: 1% 2%;
}

.searchBugs > textarea {
    flex: 1;
    margin: 0 5px;
}



.bugListArea {
    background-color: #cc3d55;
    flex: 1;
    overflow-y: scroll;
}


