html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

.addBug {
    background-color: #44b2e5;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.projectInfo > * {
    margin: 5px 0;
}

.featureInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.featureInfo > * {
    margin: 5px 0;
}

#addBugButton {
    height: 100%;
    border-radius: 10px;
}




.searchBugs {
    display: flex;
    justify-content: space-evenly;
    background-color: #90cc3d;
    padding: 1% 2%;
}

.searchBugs > textarea {
    flex: 1;
    margin: 0 5px;
}



.bugList {
    background-color: #cc3d55;
    flex: 1;
    overflow-y: scroll;
}

.bug {
    background-color: #bdb7e5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
}

.bugInfo {
    display: flex;
    justify-content: space-between;
}

.bugDesc {
    display: flex;
    justify-content: flex-start;
}

.dateCreated {
    padding: 0 1%;
}

.updateBug {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    position: absolute;
}

.updateBug > textarea {
    flex: 1;
    margin: 0 1%;
}

.bugUpdate {
    display: flex;
    justify-content: flex-start;
}

.expandedBug {
    flex: 1;
    background-color: #27330f;
    padding: 2%;
    visibility: hidden;
    position: absolute;
}

.expandedBug > .bugUpdate {
    background-color: #bdb7e5;
    margin: 1% 0;
}

.timeStamp {
    margin: 0 1%;
}

.bugNote {
    flex: 1;
}